.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-image {
  margin-bottom: 20px;
  width: 20vh;
}

.login-image img {
  max-width: 100%;
  height: auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center; /* フォーム内の要素を中央揃え */
}

.login-form label {
  margin-bottom: 5px;
  align-self: flex-start;
}

.login-form input {
  margin-bottom: 15px;
  padding: 10px;
  width: 300px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.login-form input::placeholder {
  color: #999; /* プレースホルダーの色 */
}

.login-button {
  padding: 10px 20px;
  background-color: #e0e0e0b6; /* 背景より少し濃い白 */
  color: black; /* ログインの文字色を黒に */
  border: 1px solid black; /* ボタンの外線を黒に */
  cursor: pointer;
}

.login-button:hover {
  background-color: #e0e0e0; /* ホバー時の背景色 */
}